<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>uq_title_font_style</key>
        <dict>
            <key>uq_title_font_name</key>
            <string></string>
            <key>uq_title_font_weight</key>
            <string></string>
            <key>uq_title_font_size</key>
            <string>26</string>
            <key>uq_title_color</key>
            <string>#37465B</string>
            <key>uq_title_text_uppercase</key>
            <string>No</string>
        </dict>
        <key>uq_description_font_style</key>
        <dict>
            <key>uq_description_font_name</key>
            <string></string>
            <key>uq_description_font_weight</key>
            <string>Regular</string>
            <key>uq_description_font_size</key>
            <string>14</string>
            <key>uq_description_color</key>
            <string>#37465B</string>
        </dict>
        <key>uq_background_style</key>
        <dict>
            <key>uq_layout_background_image</key>
            <string></string>
            <key>uq_layout_background_color</key>
            <string>#FFFFFF</string>
        </dict>
        <key>uq_button_style</key>
        <dict>
            <key>uq_button_title_font_name</key>
            <string></string>
            <key>uq_button_title_font_weight</key>
            <string></string>
            <key>uq_button_title_font_size</key>
            <string>22</string>
            <key>uq_button_title_color</key>
            <string>#37465B</string>
            <key>uq_button_border_color</key>
            <string>#37465B</string>
            <key>uq_button_background_color</key>
            <string></string>
            <key>uq_button_border_width</key>
            <string>0</string>
            <key>uq_button_corner_radius</key>
            <string>20</string>
            <key>uq_button_height</key>
            <string>40</string>
            <key>uq_button_width</key>
            <string>80</string>
            <key>uq_button_background_image</key>
            <string></string>
            <key>uq_button_indicator_image</key>
            <string></string>
            <key>uq_button_indicator_image_hidden</key>
            <string>NO</string>
        </dict>
        <key>uq_skip_button_style</key>
        <dict>
            <key>uq_button_skip_font_size</key>
            <string>14</string>
            <key>uq_button_skip_color</key>
            <string>#37465B</string>
        </dict>
        <key>uq_navigation_style</key>
        <dict>
            <key>uq_navigation_back_arrow_image</key>
            <string></string>
            <key>uq_navigation_item_tint_color</key>
            <string>#37465B</string>
        </dict>
        <key>uq_help_page_style</key>
        <dict>
            <key>uq_layout_logo_image</key>
            <string></string>
            <key>uq_logo_image_hidden</key>
            <string>NO</string>
            <key>uq_text_view_position</key>
            <string>bottom</string>
            <key>uq_text_view_padding</key>
            <string>15</string>
            <key>uq_text_view_padding_top</key>
            <string>50</string>
            <key>uq_button_padding</key>
            <string>90</string>
        </dict>
        <key>uq_press_for_help_button_style</key>
        <dict>
            <key>uq_press_for_help_button_title_font_name</key>
            <string></string>
            <key>uq_press_for_help_button_title_font_weight</key>
            <string></string>
            <key>uq_press_for_help_button_title_font_size</key>
            <string>14</string>
            <key>uq_press_for_help_button_title_color</key>
            <string>#37465B</string>
            <key>uq_press_for_help_button_border_color</key>
            <string>#37465B</string>
            <key>uq_press_for_help_button_background_color</key>
            <string></string>
            <key>uq_press_for_help_button_border_width</key>
            <string>0</string>
            <key>uq_press_for_help_button_corner_radius</key>
            <string>20</string>
            <key>uq_press_for_help_button_width</key>
            <string>80</string>
            <key>uq_press_for_help_button_title_underline</key>
            <string>YES</string>
        </dict>
        <key>uq_scanner_module_upload_select_file_style</key>
        <dict>
            <key>uq_scan_upload_select_file_background_color</key>
            <string>#F6F6F6</string>
            <key>uq_scan_upload_select_file_stroke_color</key>
            <string>#C4C4C4</string>
            <key>uq_scan_upload_select_file_font_color</key>
            <string>#37465B</string>
            <key>uq_scan_upload_select_file_font_weight</key>
            <string>Medium</string>
            <key>uq_scan_upload_select_file_font_size</key>
            <string>14</string>
            <key>uq_scan_upload_select_file_stroke_width</key>
            <string>1</string>
            <key>uq_scan_upload_select_file_corner_radius</key>
            <string>8</string>
        </dict>
        <key>uq_scanner_module_upload_select_file_selected_style</key>
        <dict>
            <key>uq_scan_upload_select_file_selected_background_color</key>
            <string>#F6F6F6</string>
            <key>uq_scan_upload_select_file_selected_stroke_color</key>
            <string>#37465B</string>
            <key>uq_scan_upload_select_file_selected_font_color</key>
            <string>#37465B</string>
            <key>uq_scan_upload_select_file_selected_font_size</key>
            <string>14</string>
            <key>uq_scan_upload_select_file_selected_font_weight</key>
            <string>Medium</string>
            <key>uq_scan_upload_select_file_selected_stroke_width</key>
            <string>1</string>
            <key>uq_scan_upload_select_file_selected_corner_radius</key>
            <string>8</string>
        </dict>
        <key>uq_scanner_module_upload_tip_style</key>
        <dict>
            <key>uq_scan_upload_tip_background_color</key>
            <string>#3E9F3FE</string>
            <key>uq_scan_upload_tip_font_color</key>
            <string>#37465B</string>
            <key>uq_scan_upload_tip_corner_radius</key>
            <string>6</string>
            <key>uq_scan_upload_tip_font_size</key>
            <string>14</string>
            <key>uq_scan_upload_tip_font_weight</key>
            <string>Medium</string>
        </dict>
        <key>uq_reading_module_passport_help_page_style</key>
        <dict>
            <key>uq_page_indicator_unselected_color</key>
            <string>#E5E5E5</string>
            <key>uq_page_indicator_selected_color</key>
            <string>#37465B</string>
            <key>uq_page_number_color</key>
            <string>#37465B</string>
        </dict>
        <key>uq_background_check_confirm_button_style</key>
        <dict>
            <key>uq_background_check_confirm_button_title_font_name</key>
            <string></string>
            <key>uq_background_check_confirm_button_title_font_weight</key>
            <string></string>
            <key>uq_background_check_confirm_button_title_font_size</key>
            <string>22</string>
            <key>uq_background_check_confirm_button_title_color</key>
            <string>#37465B</string>
            <key>uq_background_check_confirm_button_border_color</key>
            <string>#37465B</string>
            <key>uq_background_check_confirm_button_background_color</key>
            <string></string>
            <key>uq_background_check_confirm_button_border_width</key>
            <string>0</string>
            <key>uq_background_check_confirm_button_corner_radius</key>
            <string>20</string>
            <key>uq_background_check_confirm_button_height</key>
            <string>40</string>
            <key>uq_background_check_confirm_button_width</key>
            <string>80</string>
            <key>uq_background_check_confirm_button_background_image</key>
            <string></string>
            <key>uq_background_check_confirm_button_indicator_image</key>
            <string></string>
            <key>uq_background_check_confirm_button_indicator_image_hidden</key>
            <string>NO</string>
        </dict>
        <key>uq_background_check_decline_button_style</key>
        <dict>
            <key>uq_background_check_decline_button_title_font_name</key>
            <string></string>
            <key>uq_background_check_decline_button_title_font_weight</key>
            <string></string>
            <key>uq_background_check_decline_button_title_font_size</key>
            <string>22</string>
            <key>uq_background_check_decline_button_title_color</key>
            <string>#9B9B9B</string>
            <key>uq_background_check_decline_button_border_color</key>
            <string>#9B9B9B</string>
            <key>uq_background_check_decline_button_background_color</key>
            <string></string>
            <key>uq_background_check_decline_button_border_width</key>
            <string>0</string>
            <key>uq_background_check_decline_button_corner_radius</key>
            <string>20</string>
            <key>uq_background_check_decline_button_height</key>
            <string>40</string>
            <key>uq_background_check_decline_button_width</key>
            <string>80</string>
            <key>uq_background_check_decline_button_background_image</key>
            <string></string>
            <key>uq_background_check_decline_button_indicator_image</key>
            <string></string>
            <key>uq_background_check_decline_button_indicator_image_hidden</key>
            <string>NO</string>
        </dict>
        <key>uq_animation_style</key>
        <dict>
            <key>uq_animation_read_passport_nfc_help_1</key>
            <string></string>
            <key>uq_animation_read_passport_nfc_help_2</key>
            <string></string>
            <key>uq_animation_read_passport_nfc_help_3</key>
            <string></string>
            <key>uq_animation_read_passport_nfc</key>
            <string></string>
            <key>uq_animation_read_id_nfc</key>
            <string></string>
            <key>uq_animation_scan_passport</key>
            <string></string>
            <key>uq_animation_scan_id</key>
            <string></string>
        </dict>
        <key>uq_progressbar_style</key>
        <dict>
            <key>uq_progress_bar_type</key>
            <string>circular</string>
            <key>uq_progress_bar_text_position</key>
            <string>bottom</string>
            <key>uq_progress_bar_text_padding</key>
            <string>12.0</string>
            <key>uq_progress_bar_text_color</key>
            <string>#37465B</string>
            <key>uq_progress_bar_color</key>
            <string>#37465B</string>
            <key>uq_progress_bar_height</key>
            <string>15.0</string>
            <key>uq_progress_bar_corner_radius</key>
            <string>6.0</string>
            <key>uq_progress_bar_animation_duration</key>
            <string>2.0</string>
            <key>uq_progress_bar_stripes_color</key>
            <string>#FFFFFF</string>
            <key>uq_progress_bar_stripes_opacity</key>
            <string>0.3</string>
            <key>uq_progress_bar_stripes_orientation</key>
            <string>left</string>
            <key>uq_progress_bar_circular_radius</key>
            <string>30</string>
            <key>uq_progress_bar_circular_width</key>
            <string>8.0</string>
            <key>uq_progress_bar_circular_start_color_opacity</key>
            <string>0.0</string>
            <key>uq_progress_bar_circular_start_color</key>
            <string>#FFFFFF</string>
            <key>uq_progress_bar_circular_end_color</key>
            <string>#37465B</string>
            <key>uq_progress_bar_circular_start_angle</key>
            <string>0</string>
            <key>uq_progress_bar_circular_end_angle</key>
            <string>360</string>
            <key>uq_progress_bar_circular_corner_round</key>
            <string>YES</string>
        </dict>
        <key>uq_face_no_match_image_style</key>
        <dict>
            <key>uq_face_perfect</key>
            <string></string>
            <key>uq_face_too_close</key>
            <string></string>
            <key>uq_face_too_dark</key>
            <string></string>
            <key>uq_face_too_light</key>
            <string></string>
            <key>uq_face_far_away</key>
            <string></string>
        </dict>
        <key>uq_lookup_module_style</key>
        <dict>
            <key>uq_lookup_title_font_size</key>
            <string>22</string>
            <key>uq_lookup_title_text_color</key>
            <string>#061B3B</string>
            <key>uq_lookup_text_field_font_size</key>
            <string>16</string>
            <key>uq_lookup_text_field_text_color</key>
            <string>#061B3B</string>
            <key>uq_lookup_text_field_placeholder_font_size</key>
            <string>16</string>
            <key>uq_lookup_text_field_placeholder_color</key>
            <string>#828D9D</string>
            <key>uq_lookup_text_field_border_color</key>
            <string>#E6E8EB</string>
            <key>uq_lookup_text_field_border_width</key>
            <string>1</string>
            <key>uq_lookup_text_field_corner_radius</key>
            <string>4</string>
            <key>uq_lookup_feedback_font_size</key>
            <string>12</string>
            <key>uq_lookup_feedback_text_color</key>
            <string>#FF2F2F</string>
            <key>uq_lookup_otp_title_font_size</key>
            <string>18</string>
            <key>uq_lookup_otp_title_text_color</key>
            <string>#44546C</string>
            <key>uq_lookup_otp_subtitle_font_size</key>
            <string>13</string>
            <key>uq_lookup_otp_subtitle_text_color</key>
            <string>#44546C</string>
            <key>uq_lookup_otp_resend_button_title_font_size</key>
            <string>16</string>
            <key>uq_lookup_otp_resend_button_title_color</key>
            <string>#3377FF</string>
        </dict>
    </dict>
</plist>
